{% extends 'tagapp/base.html' %}

{% block content %}
    <!-- The Wikidata search and tag form -->

    <div class = "container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save">

        </form>
    </div>
{#    <form class="TagForm" method="POST">#}
{#        {% csrf_token %}#}
{##}
{#        <div class="form-group">#}
{#            <label for="title">Enter a keyword to search Wikidata:</label>#}
{#            <input type="text" name="search" class="form-control" id="query" required>#}
{#            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="submit">Search</button>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="memo">Name your tag: </label>#}
{#            <input name="description" class="form-control" id="description"> </input>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary">Save</button>#}
{#        <button type="button" class="btn btn-danger" onclick="$('#delete_tag').click()">Delete</button>#}
{#    </form>#}


{% endblock %}