{% extends 'tagapp/base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" style="background-color:ghostwhite">
  <div class="container" >
    <h3 class="display-5">Welcome to MediTag!</h3>
    <p class="lead">MediTag is an boosted search engine that allow you to search Pubmed articles and tag them on-the-fly!</p>
      <p class="lead">Please <a href="{% url 'signupuser' %}">Sign Up</a> or <a href="{% url 'loginuser' %}">Login</a> to join our community and explore.</p>
  </div>
</div>


{% endblock %}