{% extends 'tagapp/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:lavenderblush">
  <div class="container" >
    <h3 class="display-5">Welcome to MediTag!</h3>
    <p class="lead">MediTag is a search engine that especially covers articles on <em>bipolar disorder</em>.</p>
  </div>
</div>


    <!-- Load icon library -->
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#<div class="position-relative">#}
{#    <img src="{% static 'tagapp/orange-lotus.png' %}" width="120" height="120" class="d-inline-block align-top">#}
{##}
{#</div>#}

    <div class="row justify-content-center mt-5">

<!-- The form -->
<form class="form-inline mr-sm-0, my-lg-0" method="POST">
    {% csrf_token %}
  <input class="form-control mr-sm-0" type="text" name="searched" placeholder="Search articles" aria-label="Search" style="width:575px;">
  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="submit">Search</button>
</form>

    </div>

    {% comment %}{% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
            <h1>Results for <b>{{ request.GET.q }}</b></h1>
            <br/><br/>

            {% for result in results %}

                {{ result.journal_title }}
                <br/>

                {{ result.article_title }}

                <br>

                {{ result.publication_date }}
                <br/>

                {{ result.authors }}
                <br/>

                {{ result.abstract }}



            {% endfor %}
        {% else %}
            No search results for this query
        {% endif %}
    {% endif %}
{% endcomment %}
{% endblock %}
